
*{
    box-sizing: border-box;
}
.main{
    height: 300px;
    width: 300px;
    background-color: darkcyan;
    margin: 0 auto;
    margin-top: 100px;
    /* transition-property: width;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out; */

    transition: width 2s ease-in-out, height 3s ease-in-out, transform 2s;
}


.main:hover{
    width: 400px;
    background-color: tomato;
    height: 400px;
    transform: rotate(360deg);
}

h1{
    color: black;
    transition-property: font-size;
    transition-duration: 2s;
}

h1:hover{

    font-size: 5rem;
    color: white;
}